@font-face {
  font-family: 'Barriecito';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Barriecito Regular'), local('Barriecito-Regular'), url(https://fonts.gstatic.com/s/barriecito/v3/WWXXlj-CbBOSLY2QTuY_GdIoZw.ttf) format('truetype');
}
